@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #1ABC9C;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.wrapper {
    width: 500px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .logo {
    background-color: #16A085;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
}

.wrapper .logo h1 {
    font-size: 2rem;
    font-weight: 600;
}

.wrapper form {
    padding: 30px 25px 25px 25px;
}

form .row {
    height: 50px;
    margin-bottom: 15px;
    position: relative;
}

form .row input {
    width: 100%;
    height: 100%;
    outline: none;
    padding-left: 65px;
    border: 2px solid lightgray;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 400;
}

form .row input:focus {
    border: 2px solid #16A085;
}

form .row i {
    width: 50px;
    height: 100%;
    position: absolute;
    background-color: #16A085;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    font-size: 1.2rem;
    color: white;
}

form .pass {
    margin: -8px 0 25px 0;
}

form .pass a {
    color: #16A085;
    text-decoration: none;
}

form .button {
    height: 50px;
}

form .button button {
    width: 100%;
    height: 100%;
    background-color: #16a085;
    border: 1px solid #16A085;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4rem;
    color: white;
    font-weight: 600;
}

form .button button:hover {
    transition: 0.6s ease;
    background-color: #12876f;
}

form .member {
    margin-top: 25px;
    text-align: center;
}

form .member span a {
    color: #16A085;
    text-decoration: none;
}